*.swp
/TAGS
/TempStatsStore
/build
/cobertura.ser
/derby.log
/foo.log
/ivy/ivy-2.2.0.jar
/lib
/report
/templeton-*.jar
/templeton-console-error.log
/templeton-console.log
/templeton-site.xml
/templeton.log
/templeton.log.*
/templeton.pid
/src/docs/build/
